In [4]:
mi_nombre = input("ingresa tu nombre: ")
print("hola", mi_nombre)

ingresa tu nombre: lorena
hola lorena

In [5]:
lado = 4.5
valor_porcion_pizza = 6.000
multiplicación = 10 * 25

In [6]:
print(4.5**2)

print(6000*35)
print(10*25)

20.25
210000
250

In [7]:
Numero1 = 15
Numero2 = 35
multiplicación = Numero1 * Numero2
print("la multiplicacion es", multiplicación)

la multiplicacion es 525

In [8]:
round(number=30.52,ndigits=0)

31.0

In [9]:
precio_original = 99.4
precio_redondeado = round(precio_original)
precio_entero = int(precio_original)
print(f"precio redondeado: {precio_redondeado}")
print(f"precio entero: {precio_entero}")

precio redondeado: 99
precio entero: 99

In [10]:
inventario = [
              {"producto":"pant", "price":65000, "stock": "15"},
              {"producto":"t-shirt", "price":45000, "stock":"20"},
              {"producto":"coat", "price":82000, "stock":"15"},
              {"producto":"dress", "price":130000, "stock":"35"}]

In [11]:
## agregar un producto nuevo al stock del inventario

## 1. Acceda el inventario (Recorrer la lista)
## 2. Acceda al diccionario que hay en cada posicion
## 3. Tome la llave stock y convierta su valor a entero
## 4. Reasigne el nuevo valor (entero) a la llave de stock para que se actualice

nuevo_producto = {"producto":"sweter", "price":50000, "stock": "45"}
inventario.append(nuevo_producto)

In [12]:
inventario

[{'producto': 'pant', 'price': 65000, 'stock': '15'},
 {'producto': 't-shirt', 'price': 45000, 'stock': '20'},
 {'producto': 'coat', 'price': 82000, 'stock': '15'},
 {'producto': 'dress', 'price': 130000, 'stock': '35'},
 {'producto': 'sweter', 'price': 50000, 'stock': '45'}]

In [13]:
primer_producto = inventario[0]
primer_producto['stock'] = int(primer_producto.get("stock"))
primer_producto

segundo_producto = inventario[1]
segundo_producto['stock'] = int(primer_producto.get("stock"))
segundo_producto

{'producto': 't-shirt', 'price': 45000, 'stock': 15}

In [14]:
##convertir stock en numero entero

for producto in inventario:
  primer_producto['stock'] = int(primer_producto.get("stock"))
inventario

[{'producto': 'pant', 'price': 65000, 'stock': 15},
 {'producto': 't-shirt', 'price': 45000, 'stock': 15},
 {'producto': 'coat', 'price': 82000, 'stock': '15'},
 {'producto': 'dress', 'price': 130000, 'stock': '35'},
 {'producto': 'sweter', 'price': 50000, 'stock': '45'}]

In [15]:
inventario

[{'producto': 'pant', 'price': 65000, 'stock': 15},
 {'producto': 't-shirt', 'price': 45000, 'stock': 15},
 {'producto': 'coat', 'price': 82000, 'stock': '15'},
 {'producto': 'dress', 'price': 130000, 'stock': '35'},
 {'producto': 'sweter', 'price': 50000, 'stock': '45'}]

In [16]:
## otra alternativa para hacer la misma funcion del "for", preferiblemente usar for es mas sencillo

def cambiar_stock(diccionario):
  diccionario['stock'] = int(diccionario.get("stock"))
  return diccionario

nuevo_inventario = list(map(cambiar_stock,inventario))
nuevo_inventario

[{'producto': 'pant', 'price': 65000, 'stock': 15},
 {'producto': 't-shirt', 'price': 45000, 'stock': 15},
 {'producto': 'coat', 'price': 82000, 'stock': 15},
 {'producto': 'dress', 'price': 130000, 'stock': 35},
 {'producto': 'sweter', 'price': 50000, 'stock': 45}]

In [17]:
## cambiar precio

for producto in inventario:
  producto['stock'] = int(producto.get("stock"))
  producto['price'] = producto.get("price")+ 10000
inventario

[{'producto': 'pant', 'price': 75000, 'stock': 15},
 {'producto': 't-shirt', 'price': 55000, 'stock': 15},
 {'producto': 'coat', 'price': 92000, 'stock': 15},
 {'producto': 'dress', 'price': 140000, 'stock': 35},
 {'producto': 'sweter', 'price': 60000, 'stock': 45}]

In [18]:
## imprimir hay que asignar variable nueva llamada "stock" para que se imprima

for producto in inventario:
  producto['stock'] = int(producto.get("stock"))
  producto['price'] = producto.get("price")+ 10000
  stock = producto['stock']
  prod = producto['producto']
  price = producto['price']
  print(f"Hay {stock} unidades del producto {prod}. Su precio por unidad es de {price}")
inventario

Hay 15 unidades del producto pant. Su precio por unidad es de 85000
Hay 15 unidades del producto t-shirt. Su precio por unidad es de 65000
Hay 15 unidades del producto coat. Su precio por unidad es de 102000
Hay 35 unidades del producto dress. Su precio por unidad es de 150000
Hay 45 unidades del producto sweter. Su precio por unidad es de 70000

[{'producto': 'pant', 'price': 85000, 'stock': 15},
 {'producto': 't-shirt', 'price': 65000, 'stock': 15},
 {'producto': 'coat', 'price': 102000, 'stock': 15},
 {'producto': 'dress', 'price': 150000, 'stock': 35},
 {'producto': 'sweter', 'price': 70000, 'stock': 45}]

In [19]:
##condicionales

mi_numero = int(input("ingresa tu numero"))

if mi_numero < 10 or mi_numero > 100: ##la sentencia "if" evalua la condicion, en caso de ser verdadero, se ejecuta el bloque de codigo que le sigue
  print("tu numero es menor a 10 o mayor a 100")
elif mi_numero > 100:
  print("tu numero es mayor a 100")
elif mi_numero > 60:
  print("tu numero es mayor a 60")
elif mi_numero > 40:
  print("tu numero es mayor a 40")
else:
  print("tu numero esta entre 10 y 100")

ingresa tu numero25
tu numero esta entre 10 y 100

In [20]:
## sentencias de condiciones anidadas


mi_numero = int(input("ingresa tu numero"))

if mi_numero < 10 or mi_numero > 100: ##la sentencia "if" evalua la condicion, en caso de ser verdadero, se ejecuta el bloque de codigo que le sigue
  print("tu numero es menor a 10 o mayor a 100")
elif mi_numero > 100:

  if mi_numero % 2 == 0:
    print("tu numero es mayor a 100 y es par")
  else:
    print("tu numero es mayor a 100 y es impar")

elif mi_numero > 60:
  print("tu numero es mayor a 60")
elif mi_numero > 40:
  print("tu numero es mayor a 40")
else:
  print("tu numero esta entre 10 y 100")

ingresa tu numero24
tu numero esta entre 10 y 100

In [21]:
### ACTIVIDAD 2

In [22]:
### 1. Crea una lista de edades: [12, 17, 8, 15, 22, 9, 30, 25].
edades = [12,17,8,15,22,9,30,25]

In [23]:
### 2. Usa un bucle for para iterar sobre cada edad:
edades_lista = [("Andrea",12),("Lorena",17),("Edwin",15),("Carlos",22),("Esteban",9),("Juan",30),("Salome",25)]

for item in edades_lista:
    print(f"{item[0]} su edad es de {item[1]} años")
    print("-------------------------------------")

Andrea su edad es de 12 años
-------------------------------------
Lorena su edad es de 17 años
-------------------------------------
Edwin su edad es de 15 años
-------------------------------------
Carlos su edad es de 22 años
-------------------------------------
Esteban su edad es de 9 años
-------------------------------------
Juan su edad es de 30 años
-------------------------------------
Salome su edad es de 25 años
-------------------------------------

In [24]:
### 3. Si la edad es 25, imprime "¡Encontramos al estudiante de 25 años! Deteniendo el análisis." y termina el bucle con break.

for item in edades_lista:
    if (item[1] == 25):
        print(f"Encontramos al estudiante de {item[1]} años! Detenido el analisis.")
        break

Encontramos al estudiante de 25 años! Detenido el analisis.

In [25]:
### 4. Si la edad es menor a 10, omite esa iteración con continue.

for item in edades_lista:
    if (item[1] < 10):
        print(f"La edad es menor que 10, el dato a imprimir es {item[1]}")
        continue

La edad es menor que 10, el dato a imprimir es 9

In [26]:
### 5. Si la edad es 18 o mayor, imprime "Adulto: [edad] años".

for item in edades_lista:
    if (item[1] >= 18):
        print(f"Adulto {item[1]} años!")
        continue
        break

Adulto 22 años!
Adulto 30 años!
Adulto 25 años!

In [27]:
### 6. En cualquier otro caso, imprime "Menor: [edad] años".

for item in edades_lista:
    if (item[1] >= 18):
        print(f"Adulto {item[1]} años!")
    else:
        print(f"Menor {item[1]} años!")
        continue
        break

Menor 12 años!
Menor 17 años!
Menor 15 años!
Adulto 22 años!
Menor 9 años!
Adulto 30 años!
Adulto 25 años!

In [28]:
#### segunda parte: Bucles while con nombres

In [29]:
### 1. Crea una lista de nombres: ["Juan", "Pedro", "Jorge", "María","Ana"].

nombres_lista = ["Andrea","Lorena","Edwin","Carlos","Esteban","Juan","Salome"]

In [30]:
### 2.Usa un bucle while para iterar sobre los nombres:

nombres_lista = "Andrea","Lorena","Edwin","Carlos","Esteban","Juan","Salome"
i = 0
while i < len(nombres_lista):
    print(nombres_lista[i])
    i += 2

Andrea
Edwin
Esteban
Salome

In [31]:
### 3. Si el nombre es "Ana", imprime "¡Ana está en la lista!" y termina el bucle con break.

for item in nombres_lista:
    if (nombres_lista == "Andrea", "Edwin"):
        print(f"Andrea esta en la lista.", "Edwin esta en la lista.")
        break

Andrea esta en la lista. Edwin esta en la lista.

In [34]:
### 4. Si el nombre empieza con "J", omite ese nombre con continue.

for item in nombres_lista:
    if (item[0] == "E"):
        continue
    else:
        print(item)

Andrea
Lorena
Carlos
Juan
Salome