In [30]:
import pandas as pd
import numpy as np

In [31]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [32]:
archivo = pd.read_excel("/content/drive/MyDrive/LIQUIDACION NOMINA lorena.xlsx",sheet_name="Liquidación Horas Extras",header=1)
archivo

,NOMBRE DEL EMPLEADO,CODIGO CARGO,SALARIO ASIGNADO,N° HORAS EXTRAS DIURNAS TRABAJADAS,VALOR HORAS EXTRAS DIURNAS TRABAJADAS,N° HORAS EXTRAS NOCTURNAS TRABAJADAS,VALOR HORAS EXTRAS NOCTURNAS TRABAJADAS,N° HORAS EXTRAS DOM-FESTIVAS DIURNAS TRABAJADAS,VALOR HORAS EXTRAS DOM-FESTIVAS DIURNAS TRABAJADAS,VALOR HORAS EXTRAS DOM-FESTIVAS NOCTURNAS TRABAJADAS,N° HORAS EXTRAS DOM-FESTIVAS NOCTURNAS TRABAJADAS,N° HORAS EXTRAS CON RECARGO NOCTURNO TRABAJADAS,N° TOTAL HORAS EXTRAS CON RECARGO NOCTURNO TRABAJADAS,N° TOTAL HORAS EXTRAS DOM-FESTIVAS NOCTURNAS TRABAJADAS,VALOR TOTAL HORAS EXTRAS DOM-FESTIVAS NOTURNAS TRABAJADAS
0,ACERO LOZANO GERARDO,7,3250000,29,535511.363636,5,129261.363636,23,6.795455e+05,295454.545455,8,4,7.977273e+04,65,1.344318e+06
1,ALARCÓN GONZALEZ DIGNAEL AUGUSTO,7,3250000,13,240056.818182,28,723863.636364,2,5.909091e+04,590909.090909,16,22,4.387500e+05,59,1.023011e+06
2,ARIAS MALDONADO MARTHA ISABEL,5,2650000,9,135511.363636,16,337272.727273,3,7.227273e+04,421590.909091,14,15,2.439205e+05,42,5.450568e+05
3,AVILA PERDOMO LUZ BIBIANA,9,6000000,2,68181.818182,7,334090.909091,19,1.036364e+06,750000.000000,11,30,1.104545e+06,39,1.438636e+06
4,YOPASA CAMACHO MAURICIO,4,2450000,20,278409.090909,29,565170.454545,25,5.568182e+05,361931.818182,13,25,3.758523e+05,87,1.400398e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,ACOSTA GONZALEZ OSCAR ENRIQUE,2,1626000,19,175534.090909,13,168143.181818,1,1.478182e+04,0.000000,0,8,7.982182e+04,33,3.584591e+05
169,ARIZA PEÑA WILLIAM HERNAN,4,2450000,18,250568.181818,18,350795.454545,16,3.563636e+05,55681.818182,2,13,1.954432e+05,54,9.577273e+05
170,ACUÑA CORDERO FANNY LUCERO,5,2650000,25,376420.454545,29,611306.818182,22,5.300000e+05,120454.545455,4,16,2.601818e+05,80,1.517727e+06
171,ALVAREZ ALVAREZ ALBA LUCIA,6,3500000,28,556818.181818,28,779545.454545,6,1.909091e+05,397727.272727,10,30,6.443182e+05,72,1.527273e+06
172,ACERO LÒPEZ YURY PAOLA,7,3500000,3,59659.090909,0,0.000000,18,5.727273e+05,517045.454545,13,4,8.590909e+04,34,6.323864e+05

### 1. ¿Cual es el valor promedio de horas extras diurnas trabajadas por codigo de cargo?

In [33]:
archivo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 15 columns):
 #   Column                                                     Non-Null Count  Dtype
---  ------                                                     --------------  -----
 0   NOMBRE DEL EMPLEADO                                        173 non-null    object
 1   CODIGO CARGO                                               173 non-null    int64
 2   SALARIO ASIGNADO                                           173 non-null    int64
 3   N° HORAS EXTRAS DIURNAS TRABAJADAS                         173 non-null    int64
 4   VALOR HORAS EXTRAS DIURNAS TRABAJADAS                      173 non-null    float64
 5   N° HORAS EXTRAS NOCTURNAS TRABAJADAS                       173 non-null    int64
 6   VALOR HORAS EXTRAS NOCTURNAS TRABAJADAS                    173 non-null    float64
 7   N° HORAS EXTRAS DOM-FESTIVAS DIURNAS TRABAJADAS            173 non-null    int64
 8   VALOR HORAS EXTRAS DOM-FESTIVAS DIURNAS TRABAJADAS         173 non-null    float64
 9   VALOR HORAS EXTRAS DOM-FESTIVAS NOCTURNAS TRABAJADAS       173 non-null    float64
 10  N° HORAS EXTRAS DOM-FESTIVAS NOCTURNAS TRABAJADAS          173 non-null    int64
 11  N° HORAS EXTRAS CON RECARGO NOCTURNO TRABAJADAS            173 non-null    int64
 12  N° TOTAL HORAS EXTRAS CON RECARGO NOCTURNO TRABAJADAS      173 non-null    float64
 13  N° TOTAL HORAS EXTRAS DOM-FESTIVAS NOCTURNAS TRABAJADAS    173 non-null    int64
 14  VALOR TOTAL HORAS EXTRAS DOM-FESTIVAS NOTURNAS TRABAJADAS  173 non-null    float64
dtypes: float64(6), int64(8), object(1)
memory usage: 20.4+ KB

In [34]:
promedio_horas = archivo.groupby("CODIGO CARGO")["VALOR HORAS EXTRAS DIURNAS TRABAJADAS"].mean()
promedio_horas

CODIGO CARGO
1     126298.295455
2     135060.064935
3     184208.556150
4     231079.545455
5     203625.541126
6     291076.203209
7     250760.957792
8     312337.662338
9      68181.818182
10    221590.909091
Name: VALOR HORAS EXTRAS DIURNAS TRABAJADAS, dtype: float64

### El valor promedio de horas extras trabajadas por codigo de cargo se discrima a continuacion.

In [36]:
promedio_horas = promedio_horas.apply(lambda x: "${:.1f}k".format((x/1000)))
promedio_horas = promedio_horas.astype(str)
promedio_horas

CODIGO CARGO
1     $126.3k
2     $135.1k
3     $184.2k
4     $231.1k
5     $203.6k
6     $291.1k
7     $250.8k
8     $312.3k
9      $68.2k
10    $221.6k
Name: VALOR HORAS EXTRAS DIURNAS TRABAJADAS, dtype: object